<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
</head>
<body>
  {{>navbar}}
   
    <!-- main header -->
    <div class="container-header">
      <div class="row">
          <div class="col-md-12 col-12 mx-auto">
            <div class="row">
              <div class="col-md-12 col-12 main_header_left align-items-center">
                <figure>
                    <img src="images/404.jpg" alt="" srcset=" " height="400rem" width="400rem" class="img-fluid" >
                </figure>
                <p>Welcome to my world</p>
                <h2>{{err}}</h2>
                <a href="/"><button>go back</button></a>
                
                </div>

            
                

              
              
                
              </div>
              
            </div>
          </div>
      </div>
    </div>
    <!-- footer -->
    {{!-- <footer>
      <p>Created with ❤ by  &copy; Akash Dixit</p>
    </footer> --}}
    {{>footer}}



    
</body>
</html>